In [5]:
import pandas as pd
data1 = pd.read_csv('./광주광역시_업종별 카드소비현황_2304.csv', encoding = 'utf-8')
data1

,crym,ana_mgpo_nm,ma_fem_dc,agegrp_dc,tco_bt_hlv_c_nm,tco_bt_mcls_c_nm,tco_btc_nm,sl_am,sl_ct
0,202304,광주광역시,2,10,숙박/여행,여행/교통,택시,241000,31
1,202304,광주광역시,2,30,식생활,음식/요리,중식,44433000,1512
2,202304,광주광역시,2,50,유통,전자상거래,다단계,10438000,102
3,202304,광주광역시,1,50,교육/교양/서비스,오락위락시설,유원지/놀이시설,2387000,72
4,202304,광주광역시,2,30,교육/교양/서비스,관람,동물원／박물관,3913000,211
...,...,...,...,...,...,...,...,...,...
2763,202304,광주광역시,2,30,자동차/주유소,연료,가정용연료(석유/가스판매),14415000,107
2764,202304,광주광역시,2,40,숙박/여행,여행/교통,고속버스,37881000,1922
2765,202304,광주광역시,1,30,의료/보험/위생,의료기관,정형외과,14150000,209
2766,202304,광주광역시,1,40,의료/보험/위생,의료기관,정형외과,43545000,572
2767,202304,광주광역시,1,80,의료/보험/위생,의료기관,정형외과,1211000,45

In [6]:
import os
import glob

In [8]:
files = glob.glob("./*.xlsx")
for name in files:
    if not os.path.isdir(name):
        src = os.path.splitext(name)
        os.rename(name, src[0] + '.csv')

In [19]:
data_22 = pd.read_csv('./무료_부산광역시_업종별카드소비현황_23년5월.csv')
data_22

,crym,ana_mgpo_nm,ma_fem_dc,agegrp_dc,tco_bt_hlv_c_nm,tco_bt_mcls_c_nm,tco_btc_nm,sl_am,sl_ct
0,202305,부산광역시,1,70,숙박/여행,여행/교통,택시,26345000,2895
1,202305,부산광역시,2,60,숙박/여행,렌터카,기타차량대여,405000,14
2,202305,부산광역시,1,50,식생활,음식/요리,한식(한정식),2964829000,69364
3,202305,부산광역시,2,70,식생활,음식/요리,양식,12164000,369
4,202305,부산광역시,1,50,식생활,식품,미곡상,23505000,325
...,...,...,...,...,...,...,...,...,...
3067,202305,부산광역시,2,80,유통,유통업,면세점,3031000,23
3068,202305,부산광역시,1,80,교육/교양/서비스,취미교양용품,기타레져용품,762000,15
3069,202305,부산광역시,1,40,교육/교양/서비스,학원,외국어학원,594028000,1992
3070,202305,부산광역시,2,60,의생활,잡화,제화/지갑/벨트,4076000,39
3071,202305,부산광역시,1,30,자동차/주유소,자동차유지/정비,세차장,7859000,268

In [20]:
data_33 = pd.read_csv('./부산광역시_업종별 카드소비현황_2304.csv')
data_33

,crym,ana_mgpo_nm,ma_fem_dc,agegrp_dc,tco_bt_hlv_c_nm,tco_bt_mcls_c_nm,tco_btc_nm,sl_am,sl_ct
0,202304,부산광역시,1,10,식생활,음식/요리,중식,106000,4
1,202304,부산광역시,1,50,식생활,음식/요리,양식,95403000,2717
2,202304,부산광역시,1,80,식생활,음식/요리,양식,1228000,33
3,202304,부산광역시,1,50,식생활,식품,기타음료식품,149312000,10458
4,202304,부산광역시,2,50,유통,전자상거래,다단계,28263000,258
...,...,...,...,...,...,...,...,...,...
3156,202304,부산광역시,1,70,교육/교양/서비스,취미교양용품,수예,1105000,4
3157,202304,부산광역시,2,50,교육/교양/서비스,취미교양용품,악기,9184000,36
3158,202304,부산광역시,2,60,교육/교양/서비스,서비스,가례서비스(예식장),16886000,68
3159,202304,부산광역시,1,70,의료/보험/위생,보건위생,안마／스포츠마사지,1224000,72
3160,202304,부산광역시,2,80,주생활,가전제품,기타가전/전기제품,862000,20